.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.loader-container > h1 {
  position: relative;
  font-size: 8rem;
  color: #222;
  text-transform: uppercase;
  border-bottom: 10px solid #222;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
}
.loader-container > h1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #8739f9;
  overflow: hidden;
  border-bottom: 10px solid #8739f9;
  animation: animate 2.5s linear infinite;
}
@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .loader-container > h1 {
    position: relative;
    font-size: 3rem;
    color: #222;
    text-transform: uppercase;
    border-bottom: 6px solid #222;
    letter-spacing: 0.05em;
    line-height: 1.2em;
  }
  .loader-container > h1:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #8739f9;
    overflow: hidden;
    border-bottom: 6px solid #8739f9;
    animation: animate 2.5s linear infinite;
  }
}
