.xyz {
  padding: 20px;
}
.row-pr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cards {
  background-color: #8753f9;
  margin-top: 80px;
  padding: 20px;
  height: 300px;
  width: 500px;
  border-radius: 20px;
}
.card-area {
  /* height: 300px;
  width: 500px; */
  padding: 10px;
}

section {
  height: 150vh;
}
.exp-text {
  font-size: 150px;
}

.modal {
  height: 500px;
  width: 400px;
}
.scroll-Cont {
  animation: MoveUpDown 1s linear infinite;
}
.react-responsive-modal-modal {
  /* margin-top: 5px; */
  /* height: auto; */
}

.disabled-link {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .cards {
    background-color: #8753f9;
    margin-top: 40px;
    padding: 20px;
    height: 280px;
    width: 280px;
  }
  .card-area {
    height: 280px;
    width: 280px;
  }
  .exp-text {
    font-size: 60px;
  }
  .modal {
    height: 500px;
    width: 300px;
  }
  .react-responsive-modal-modal {
    margin-top: 40%;
    height: auto;
  }
}
